@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primeng/resources/themes/mdc-dark-indigo/theme.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}